<%= form_for @document do |f| %>
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %></h2>

      <ul>
      <% @document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p><%= f.file_field :pdf %></p>
  <p>
    Categorie: <%= f.collection_select(:category_id, Category.all, :id, :title) %>
  </p>
  <p><%= f.submit %></p>
<% end %>