<h1>Welkom bij de documententool</h1>
<h3>Kies hierboven een categorie</h3>
<h3>Zoek op documenten:</h3>

<%= form_tag(root_path, method: 'get', remote: true, class: 'jsFindDocument') do %>
  <%= text_field_tag :search, params[:search], placeholder: 'Zoek op documentnaam', class: 'jsSearchForm' %>
<% end %>

<ul class='jsFoundDocuments'>

</ul>

<h4>Versie geschiedenis:</h4>
<p>Versie 1.4</p>
<p>
  <ul>
    <li>Er kunnen nu categorieen in categorieen worden toegevoegd.</li>
    <li>Er kan nu gezien worden in welke categorie en subcategorie de gebruiker zich bevind.</li>
    <li>Documenten en categorieen moeten nu in een categorie worden aangemaakt ipv gekozen worden uit een lijst.</li>
  </ul>
</p>

<p>Versie 1.3</2p>
<p>
  <ul>
    <li>De naam van een pdf wordt nu als standaard naam en beschrijving gezet.</li>
  </ul>
</p>

<p>Versie 1.3</2p>
<p>
  <ul>
    <li>Er kunnen categorieen toegewezen worden aan documenten.</li>
  </ul>
</p>

<p>Versie 1.1</p>
<p>
  <ul>
    <li>Documenten kunnen geupload worden.</li>
  </ul>
</p>