@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-text{
  padding-left:10px;
}

input, textarea{
  width:100%;
}
textarea{
  height:100px;
}

.wrapper{
  padding-left:20px;
  padding-right:20px;
}

.navbar{
  padding-left:10px;
  padding-right:10px;
}

.panel-default{
  margin-bottom:0;
}

.submenu{
  .panel.panel-default{
    margin-left:10px;
  }
}