<%= form_for @category do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %></h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p><%= f.text_field :title, placeholder: 'Voer een titel in...' %></p>
  <p><%= f.collection_select :parent_id, Category.order(:title), :id, :title, include_blank: true, value: 6 %></p>
  <p><%= f.submit %></p>
<% end %>