<% categories.each do |category, children| %>
  <div class='panel panel-default'>
    <div class='panel-body'>
      <%= link_to_unless_current category.title, category %><span class="badge"><%= category.children.count if category.children.count > 0 %></span>
    </div>
    <%= render 'submenu_categories', categories: children if children.present? %>
  </div>
<% end %>