<h1>Documenten van <%= @category.title %></h1>
<%= link_to 'Categorie toevoegen in de categorie "' + @category.title + '"', new_category_path(category: @category), class: 'glyphicon glyphicon-plus' %> 

<table class='table table-striped table-hover table-bordered'>
  <tr>
    <th>PDF</th>
    <th>Beschrijving</th>
    <th>Toegevoegd op</th>
  </tr>

  <% @category.documents.order("title ASC").each do |document| %>
    </tr>
      <td><%= link_to document.title, document.pdf.url, target: '_blank' %></td>
      <td><%= document.description %></td>
      <td><%= document.created_at.strftime('%d-%m-%Y %H:%M') %></td>
      <% if current_user.admin %>
        <td>
          <%= link_to '', edit_document_path(document), class: 'glyphicon glyphicon-pencil' %>
          <%= link_to '', document, method: :delete, data: { confirm: 'Weet je zeker dat je dit document wilt verwijderen?' }, class: 'glyphicon glyphicon-remove' %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>