<!DOCTYPE html>
<html>
<head>
  <title>Documenten Tool</title>
  <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no'/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>   
    <div class='row'>
      <div class='navbar navbar-inverse'>
        <p class='navbar-text'>Documententool 1.4</p>
        <%= link_to 'Home', documents_path, class: 'navbar-brand' %>
        <% if user_signed_in? && current_user.admin %>
          <%= link_to 'Document toevoegen', new_document_path, class: 'navbar-brand' %>
          <%= link_to 'Categorie toevoegen', new_category_path, class: 'navbar-brand' %>
        <% end %>

        <div class='pull-right'>
          <div class='navbar-brand'>Ingelogd als <%= current_user.email if user_signed_in? %></div>
          <%= link_to 'Uitloggen', destroy_user_session_path, class: 'navbar-brand', method: "delete" %>
        </div>
      </div>
        <% if notice %>
          <span><%= notice %></span>
        <% elsif alert %>
          <span><%= alert %></span>
        <% end %>
      <div class='wrapper'>
        <div class='col-md-3'>
          <div class='submenu'>
            <% if @category && params[:action] == 'show' %>
              <%= render 'categories/submenu_categories', categories: @category.root.descendants.arrange %>
            <% end %>
          </div>
        </div>

        <div class='col-md-9'>
          <div class='panel panel-default'>
            <ul class="nav nav-pills">
              <% Category.roots.each do |category| %>
                <li role="presentation" <% if @category && @category.root == category %>class='active'<% end %>>
                  <%= link_to category.title, category %>
                </li>
              <% end %>
            </ul>
            <div class='panel-body'>
              <% if @category && @category.ancestors.any? %>
                <div id='breadcrumbs'>
                  <ol class="breadcrumb">
                    <% @category.ancestors.each do |category| %>
                      <li><%= link_to category.title, category %></li>
                    <% end %>
                  </ol>
                </div>
              <% end %>
              <%= yield %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </body>
</html>
